*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 16, 16);
}

.generator{
    background-color: greenyellow;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: 10px solid black;
    margin: 0 2em;
}

.generator h1{
    font-weight: 800;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Bruno Ace SC', cursive;
    text-align: center;
}

#passwordLenght{
    min-width: 10%;
    height: 30px;
    font-size: 1.2em;
    padding-left: 3px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 2px;
}

#passwordLenght::-webkit-inner-spin-button,
#passwordLenght::-webkit-outer-spin-button{
    display: none;
}

#lenghtBtnMinus, #lenghtBtnPlus{
    width: 20px;
    height: 20px;
    background-color: black;
    color: #fff;
    margin: 0 5px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    outline: 0;
    border: 0;
}

.generator .lenghtLabel{
    font-weight: 700;
}

.generator .display{
    width: 100%;
    border: 3px solid black;
    border-radius: 20px;
    max-height: 40px;
    white-space: nowrap;
    padding: 0 20px 0 0;
}

.generator .display input{
    background: transparent;
    border: 0;
    outline: 0;
    width: 92%;
    padding: 0 5px;
    font-size: 1em;
    font-weight: 700;
    margin-left: 5px;
}

.generator .display span{
    font-size: 20px;
    cursor: pointer;

}

.generator #btn{
    min-width: 40%;
    margin: 0 auto;
    padding: 10px 10px;
    font-size: 1.5em;
    background: black;
    border: 0;
    outline: 0;
    color: greenyellow;
    letter-spacing: 2px;
    font-weight: 750;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.generator #btn .fa-bolt{
    transition: transform 0.5s;
}

.generator #btn:hover .fa-bolt{
    transform: scale(1.5) rotateY(360deg);
}

.generator #btn:hover{
    color: white;
}


@media screen and (min-width: 675px) {
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', sans-serif;
    }
    
    .container{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(17, 16, 16);
    }

    .generator{
        background-color: greenyellow;
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        border: 10px solid black;
        margin: 0;
    }

    .generator h1{
        font-weight: 800;
        text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
        font-family: 'Bruno Ace SC', cursive;
        text-align: left;
    }

    #passwordLenght{
        width: 10%;
        height: 30px;
        font-size: 1.2em;
        padding: 5px;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 2px;
    }

    #passwordLenght::-webkit-inner-spin-button,
    #passwordLenght::-webkit-outer-spin-button{
        display: none;
    }

    #lenghtBtnMinus, #lenghtBtnPlus{
        width: 20px;
        height: 20px;
        background-color: black;
        color: #fff;
        margin: 0 5px;
        border-radius: 3px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        font-weight: 600;
        outline: 0;
        border: 0;
    }

    .generator .lenghtLabel{
        font-weight: 700;
    }

    .generator .display{
        width: 100%;
        border: 3px solid black;
        border-radius: 20px;
        max-height: none;
        padding: 0;
    }

    .generator .display input{
        background: transparent;
        border: 0;
        outline: 0;
        width: 92%;
        padding: 0 20px;
        font-size: 1.5em;
        font-weight: 700;
    }

    .generator .display span{
        font-size: 30px;
        cursor: pointer;
    }

    .generator #btn{
        width: 40%;
        margin: 0 auto;
        padding: 10px 10px;
        font-size: 1.5em;
        background: black;
        border: 0;
        outline: 0;
        color: greenyellow;
        letter-spacing: 2px;
        font-weight: 750;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
    }

    .generator #btn .fa-bolt{
        transition: transform 0.5s;
    }

    .generator #btn:hover .fa-bolt{
        transform: scale(1.5) rotateY(360deg);
    }

    .generator #btn:hover{
        color: white;
    }
}